<%= render(Layout::Dropdown.new()) do |c| %>
  <% c.button(tag: :button, type: "button", class: "bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-beaver-500") do %>
    <span class="sr-only">Open user menu</span>
    <img class="h-8 w-8 rounded-full" src="<%= helpers.user_avatar(@current_user) %>" alt="">
  <% end %>
  <% c.menu(direction: :left) do |cc| %>
    <% if @current_user %>
      <% cc.item(tag: :a, href: user_path(@current_user)) { "Profile" } %>
      <% cc.item(tag: :a, href: edit_user_registration_path) { "Settings" } %>
      <% cc.item(type: :separator) %>
      <% cc.item(type: :header) { "Posts" } %>
      <% cc.item(tag: :a, href: my_posts_path) { "My posts" } %>
      <% if session[:forms] && session[:forms]["Post"] %>
        <% cc.item(tag: :a, href: new_post_path) { "Continue to write post" } %>
        <% cc.item(tag: :div, data: {reflex: "click->FormsReflex#dicard_session_forms"}) { "Discard changes" } %>
      <% else %>
        <% cc.item(tag: :a, href: new_post_path) { "Create a new post" } %>
      <% end %>
      <% cc.item(type: :separator) %>
      <% cc.item(tag: :a, href: destroy_user_session_path, data: { turbo_method: "delete" }) { "Sign out" } %>
    <% else %>
      <% cc.item(tag: :a, href: user_session_path) { "Log in" } %>
      <% cc.item(tag: :a, href: new_user_registration_path) { "Sign up" } %>
    <% end %>
  <% end %>
<% end %>
