<br>
<%= render(Categories::Grid::Component.new(categories: @categories)) %>

<div class="text-center text-3xl font-semibold text-beaver-300 mt-6"> Newest Posts </div>

<br>
<% @posts.each do |post| %>
  <%= render(Posts::Card::Component.new(post: post)) %>
<% end %>
