<br>
<%= render(Overview::Categories::Component.new(categories: Category.first(3))) %>
<br>
<%= render(Overview::Categories::Component.new(categories: Category.last(3))) %>

<div class="text-center text-3xl font-semibold text-beaver-300 mt-6"> Newest Posts </div>
