<div id="<%= dom_id(@user, "posts_box_categories") %>" class="w-24 -mx-2 -mt-2 md:w-40">
  <%= render(Categories::Card::Component.new(category: :all, link: user_path(@user), small: true, active: @active_tab == :all)) %>

  <% Category.all.each do |category| %>
    <%= render(Categories::Card::Component.new(category: category, link: user_path(@user, category: category.id), small: true, active: @active_tab == category.id.to_s)) %>
  <% end %>
</div>
