<div data-controller="decipher">
  <textarea class="text-black" data-decipher-target="input"></textarea>
  <aaa:button data-action="click->decipher#deciphe">lol</button>
  <textarea class="text-black" disabled>
    <%= @result %>
  </textarea>
</div>
