<div data-controller="decipher">
  <p>input: </p>
  <textarea data-action="debounced:input->decipher#deciphe" class="h-64 p-2 mt-2 bg-beaver-850 border-beaver-700 border rounded w-full" data-decipher-target="input"></textarea>
  <p>output: </p>
  <textarea id="result" class="h-64 p-2 mt-2 bg-beaver-850 border-beaver-700 border rounded w-full" disabled></textarea>
</div>

<p class="mt-5 text-beaver-400">
  input example:
</p>
<pre class="text-beaver-500">
Toney@mlanesi.info:a56e96b865000609f98b881c39e6554b
Lampat@ewaycor.info:7624c8ac2761c020310a74d33d506f08
Elmorabac@pulteracte.net:c0ecbfa9b9e1a8750f5aee606ebe0abb
</pre>
