<div class="bg-beaver-850 flex p-3 w-full rounded-t-md">
    <% @builds.each_with_index do |build, index| %>
      <%= render(Layout::Dropdown::Component.new(disabled: !@edit)) do |c| %>
        <% c.button(tag: :button, type: :button, class: button_classes(build), data: button_data_attributes(build, index)) do %>
          <%= build.name %>
          <% if !build.valid? %>
            <span class="ml-2 !text-red-400">invalid</span>
          <% end %>
        <% end %>
        <% if @edit %>
          <% c.menu do |cc| %>
            <% cc.item(tag: :button, data: reflex_attributes(:remove, index: index)) { "remove" } %>
            <% cc.item(tag: :button, data: reflex_attributes(:select, index: index)) { "select" } %>
            <% cc.item(tag: :button, data: reflex_attributes(:edit, index: index)) { "edit" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if @edit %>
      <%= content_tag(:button, class: "link ml-auto", data: {controller: "posts--build-selector--component", action: "click->posts--build-selector--component#import_string"}) { "Import build" } %>
      <%= content_tag(:button, class: "link ml-2", data: reflex_attributes(:add)) { "Add build" } %>
    <% end %>
</div>
