<h2 class="mb-2 text-center">Files</h2>
<%= render Layout::Tabs.new(active_tab_class: "btn-active") do |c| %>
  <% files.each do |hash| %>
    <% c.tab(class: "btn btn-thin w-full justify-between px-2 py-1 flex mb-2") do %>
      <%= hash[:script].name_with_path %>
      <%= octicon hash[:icon][:name], class: "#{hash[:icon][:class]} ml-2" %>
    <% end %>
    <% c.tab_content(class: "") do %>
      <%= render FileDiff.new(before_script: hash[:script], after_script: hash[:after]) %>
    <% end %>
  <% end %>
<% end %>
