<div class="text-center text-3xl font-semibold mb-10">
  <%= @script.name %>

  <%= render(Scripts::Card::CopyButton::Component.new(script: @script)) %>
</div>

<div class="overflow-auto hljs">
  <%= render(CodeHighlight.new(code: @script.content)) %>
</div>
