<div class="text-center text-3xl font-semibold mb-10">
  <%= @script.name %>

  <%= render(Scripts::Card::CopyButton::Component.new(script: @script)) %>
</div>

<% content_for :containerless do %>
<div class="px-4">
  <%= render(CodeHighlight.new(code: @script.content)) %>
</div>
<% end %>
