<div data-controller="alert" class="<%= @class %>">
  <div>
    <span><%= @text %></span>
  </div>
  <div class="flex-none">
    <button data-action="alert#close" class="btn btn-sm btn-ghost"><%= octicon "x", class: "fill-current" %></button>
  </div>
</div>
