<% if @disabled %>
  <%= button %>
<% else %>
  <%= content_tag(@tag, @sys_params) do %>
    <%= button %>

    <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex justify-center" style="z-index: 9999;">
      <%= dialog %>
    </div>
  <% end %>
<% end %>
