<%= simple_form_for(build) do |f| %>
  <div class="rounded bg-beaver-850 p-3 mb-3">
    <%= f.input :name %>
  </div>
  <%= f.submit class: "ml-auto block cursor-pointer button_primary rounded p-2" %>
<% end %>
