<div class="<%= @class || "btn btn-success float-right" %>"
     data-controller="scripts--card--copy--component"
     data-action="click->scripts--card--copy--component#copy_script_to_clipboard"
     data-scripts--card--copy--component-url-value="<%= script_url(@script, format: :json) %>"
     data-message="<%= @script.name %> copied to clipboard"
     data-type="success"
     >
     Copy
</div>
