<div class="text-center text-3xl font-semibold">
  My posts
</div>

<br>

<%= render Layout::LinkGroup.new(2) do |c| %>
  <% c.link(name: "Published", link: path_to(request.url, published: "true"), active: params[:published] == "true" || params[:published].nil?) %>
  <% c.link(name: "Not Published", link: path_to(request.url, published: "false"), active: params[:published] == "false") %>
<% end %>

<br>

<% @posts.each do |post| %>
  <%= render(Posts::Card.new(post: post, current_user: @current_user)) %>
<% end %>

<%= render(Pagination.new(pagy: @pagy)) if @pagy %>
