<div  id="<%= dom_id(@user, "posts_box_list") %>"
      class="bg-beaver-850 w-full rounded-lg mx-0 md:mx-2 overflow-y-auto pt-3 pb-3 px-2 scrollbar scrollbar-thumb-beaver-600 scrollbar-track-beaver-850"
      style="height: 400px">
  <turbo-frame id="post-link">
    <% @posts.each do |post| %>
      <%= render(Posts::Card::Component.new(post: post)) %>
    <% end %>

    <%= render(Pagy::Component.new(pagy: @pagy)) %>
    <br>
  </turbo-frame>
</div>
