<turbo-frame id="user_posts" class="flex justify-start">
  <div class="flex justify-start">
    <%= render(Users::PostsBox::CategoriesList::Component.new(user: @user, categories: Category.all, active_tab: @active_tab)) %>
    <%= render(Users::PostsBox::PostsList::Component.new(user: @user, posts: @posts, pagy: @pagy, link: user_posts_path(@user, category: @active_tab))) %>
  </div>
</turbo-frame>
