<div class="flex justify-start">
  <div id="test">
  </div>
  <%= render(Users::PostsBox::CategoriesList::Component.new(user: @user, categories: Category.all)) %>
  <%= render(Users::PostsBox::PostsList::Component.new(user: @user, posts: @posts)) %>
</div>
