<turbo-frame id="user_posts" class="flex flex-col md:flex-row justify-start">
  <div>
    <%= render(Users::PostsBox::CategoriesList::Component.new(user: @user, categories: @categories, active_tab: @active_tab)) %>
    <%= render(Users::PostsBox::CategoriesList::Component.new(user: @user,
                                                              categories: @visibilities_categories,
                                                              active_tab: @active_tab,
                                                              remove_top_margin: false,
                                                              render_all_tab: false,
                                                              highlighted: true)) if current_user == @user %>
  </div>
  <%= render(Users::PostsBox::PostsList::Component.new(user: @user, posts: @posts, pagy: @pagy)) %>
</turbo-frame>
