<div class="flex flex-col sm:flex-row">
  <% @categories.each do |category| %>
    <%= render(Categories::Card.new(category: category, href: @categories.length != 1 ? category_path(category) : root_path)) %>
  <% end %>
</div>
