<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h1>This is static#index</h1>
<div class="bg-red-500 w-3/4 mx-auto p-4">
  <p class="text-white text-2xl">Test test test</p>
</div>

<div class="bg-red-500 my-4 w-3/4 mx-auto p-4">
  <p class="text-white text-2xl">Test test test 1</p>
</div>

<div class="bg-red-500 my-4 w-3/4 mx-auto p-4">
  <p class="text-white text-2xl">Test test test 2</p>
</div>

<div class="bg-red-500 my-4 w-3/4 mx-auto p-4">
  <p class="text-white text-2xl">Test test test 3</p>
</div>
