<div data-controller="cable-from" data-cable-from-key-value="test"></div>
<button data-reflex="click->TestReflex#go">goo</button>
<%= render(Overview.new(current_user: current_user, posts: @posts, pagy: @pagy)) %>
