<!-- <div class="text&#45;center text&#45;2xl mb&#45;4"> -->
<!--   Files -->
<!-- </div> -->

<% @fileable.folders.each do |folder| %>
  <%= render(Folders::Card::Component.new(folder: folder)) %>
  <%= render(Fileables::List::Component.new(fileable: folder, depth: @depth + 1)) %>
<% end %>

<%= render(Layout::LinkGroup::Component.new(@fileable.scripts.size, :vertical)) do |c| %>
  <% @fileable.scripts.order(:id).each do |script| %>
    <% c.link(disabled: false, html_class: {bg: "", container: ""} ) do %>
      <%= render(Scripts::Card::Component.new(script: script)) %>
    <% end %>
  <% end %>
<% end %>
