<div class="nested-form-wrapper p-1 border border-base-200 rounded mb-6" data-new-record="<%= f.object.new_record? %>">
  <%= content_tag :div, data: {controller: "code-editor", code_editor_language_value: file_extension_to_language(f.object.extension&.to_sym || :txt), code_editor_editorclass_value: "p-2 rounded-b"} do %>
      <div class="rounded-t bg-base-200 p-2 flex justify-between items-center">
        <%= f.text_field :name, class: "!py-0 !px-2 w-fit", data: {code_editor_target: "name", action: "debounced:input->code-editor#reset"}%>
        <div class="text-white/50">
        </div>
      </div>
      <%= f.text_area :content, data: {code_editor_target: "editor"} %>

    <div class="trix-content mb-6" data-code-editor-target="preview">
    </div>

    <button class="ml-auto block text-error" type="button" data-action="nested-form#remove">Remove file</button>
  <% end %>
</div>
