<div class="text-center text-3xl font-semibold mb-10">
  <%= @gist.name %>
</div>

<% @gist.scripts.each do |script| %>
  <p><%= script.name %></p>
  <%= render(Scripts::Card::Component.new(script: script)) %>
  <br>
<% end %>
