atom-text-editor ::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
atom-text-editor ::-webkit-scrollbar-track {
  background-color: #0D0D0D;
}
atom-text-editor ::-webkit-scrollbar-thumb {
  background-color: #272727;
}
atom-text-editor .wrap-guide {
  background: rgba(255, 255, 255, 0.01);
}
atom-text-editor .indent-guide {
  color: rgba(255, 255, 255, 0.15);
}
atom-text-editor,
atom-text-editor .gutter {
  background-color: #0D0D0D;
  color: #F8F8F2;
}
atom-text-editor.is-focused .cursor {
  border-color: #F8F8F0;
}
atom-text-editor.is-focused .selection .region {
  background-color: #404040;
}
atom-text-editor.is-focused .line-number.cursor-line-no-selection,
atom-text-editor.is-focused .line.cursor-line {
  background-color: #272727;
}
atom-text-editor .syntax--comment {
  color: #75715E;
}
atom-text-editor .syntax--string {
  color: #E6DB74;
}
atom-text-editor .syntax--constant.syntax--numeric {
  color: #AE81FF;
}
atom-text-editor .syntax--constant.syntax--language {
  color: #AE81FF;
}
atom-text-editor .syntax--constant.syntax--character,
atom-text-editor .syntax--constant.syntax--other {
  color: #AE81FF;
}
atom-text-editor .syntax--keyword {
  color: #F92672;
}
atom-text-editor .syntax--storage {
  color: #F92672;
}
atom-text-editor .syntax--storage.syntax--type {
  font-style: italic;
  color: #66D9EF;
}
atom-text-editor .syntax--entity.syntax--name.syntax--class {
  text-decoration: underline;
  color: #A6E22E;
}
atom-text-editor .syntax--entity.syntax--other.syntax--inherited-class {
  font-style: italic;
  text-decoration: underline;
  color: #A6E22E;
}
atom-text-editor .syntax--entity.syntax--name.syntax--function {
  color: #A6E22E;
}
atom-text-editor .syntax--variable.syntax--parameter {
  font-style: italic;
  color: #FD971F;
}
atom-text-editor .syntax--entity.syntax--name.syntax--tag {
  color: #F92672;
}
atom-text-editor .syntax--entity.syntax--other.syntax--attribute-name {
  color: #A6E22E;
}
atom-text-editor .syntax--support.syntax--function {
  color: #66D9EF;
}
atom-text-editor .syntax--support.syntax--constant {
  color: #66D9EF;
}
atom-text-editor .syntax--support.syntax--type,
atom-text-editor .syntax--support.syntax--class {
  font-style: italic;
  color: #66D9EF;
}
atom-text-editor .syntax--invalid {
  color: #F8F8F0;
  background-color: #F92672;
}
atom-text-editor .syntax--invalid.syntax--deprecated {
  color: #F8F8F0;
  background-color: #AE81FF;
}
atom-text-editor .invisible-character {
  color: #0D0D0D;
}
atom-text-editor.editor .is-focused .selection .region {
  background-color: #404040;
}
atom-text-editor.editor .is-focused .line-number.cursor-line-no-selection,
atom-text-editor.editor .is-focused .line.cursor-line {
  background-color: #272727;
}
