<div id="<%= dom_id @commentable, "comments" %>" >
  <% if @comments.empty? %>
    <div class="m-auto block my-10 rounded text-center text-beaver-400">
      This <%= @commentable.class.to_s.downcase %> does not have comments.
    </div>
  <% end %>
  <% @comments.each do |comment| %>
    <%= render(Comments::Card.new(user: @user, comment: comment)) %>
  <% end %>
</div>
