<div class="flex w-full justify-start">
  <div class="flex w-full p-3 cursor-pointer bg-beaver-800 hover:bg-beaver-700 items-center">
    <%= octicon "file-directory", height: 20, class: "fill-current mr-2" %>
    <%= @folder.name %>

    <div class="ml-auto text-beaver-400">
      files: x
    </div>
  </div>
</div>


