<div id="fileable-tree">
  <%= @fileable.folders.size %> <%= @fileable.scripts.size %>
  <%@fileable.folders.each do |folder| %>
    <p>
      <%= folder.name %> 
    </p>
  <% end %>

  <% @fileable.scripts.each do |script| %>
    <p>
      <%= script.name %> 
      <button class="link">
        Edit
      </button>
      <button class="link !text-red-400">
        Destroy
      </button>
    </p>
  <% end %>

  <button class="link">
    Add script
  </button>

  <button class="link">
    Add folder
  </button>
</div>
