<div class="nested-form-wrapper rounded bg-beaver-850 p-3 mb-3">
  <%= f.input :name %>

  <%= f.input :_destroy, as: :hidden %>

  <%= f.simple_fields_for(:scripts) do |ff| %>
    <%= render "script_form", f: ff %>
  <% end %>
</div>
