<div class="text-center text-3xl font-semibold mb-6">
  Post build editor
</div>

<div id="fileable-list">
  <% @post.builds.each do |build| %>
    <p class="text-center">
      <%= build.name %> 
      <span class="<%= build.published? ? "text-green-400" : "text-red-400" %>">
        <%= build.published ? "published" : "unpublished" %> 
      </span>
      <button class="link" data-reflex="click->FileableForm::Reflex#select" data-build-id="<%= build.id %>">
        Edit
      </button>
    </p>
  <% end %>
</div>

<div id="fileable-tree">
</div>

<div id="build-form">
</div>
