<div class="text-center font-semibold text-3xl mt-2 mb-4">
  Libs
</div>
<div class="mt-6 bg-gradient-to-r from-base-300 to-base-200 rounded-lg text-beaver-300 py-3">
  <img class="w-24 mx-auto" src="<%= image_url("lib_logo.svg")%>"></img>
  <div class="mt-3 text-center text-2xl  font-semibold">
    Find user made greyscript apis
  </div>
</div>
