<div class="text-center text-3xl font-semibold">
  <%= @post.title.capitalize %>
</div>

<div class="text-beaver-300 text-center">
  <%= @post.summary %>
</div>

<% if @post.readme %>
  <div>
    <%= @post.readme %>
  </div>
<% end %>

<div class="w-full rounded-xl py-4 px-4 bg-beaver-850 mt-4">
  <code>
    <%= @post.scripts.first.content %>
  </code>
</div>
