<div  id="<%= dom_id(@user, "posts_box_list") %>"
      class="w-full mx-0 pt-3 pb-3 px-0 sm:px-2">
  <turbo-frame id="post-link">
    <% if @posts.blank? %>
      <div class="bg-beaver-800 rounded p-6 text-beaver-200">
        You dont have any posts
      </div>
    <% else %>
      <% @posts.each do |post| %>
        <%= render(Posts::Card.new(post: post, current_user: @current_user)) %>
      <% end %>

      <%= render(Pagination.new(pagy: @pagy)) %>
      <br>
    <% end %>
  </turbo-frame>
</div>
