<turbo-frame id="user_posts" class="flex flex-col md:flex-row  justify-start">
  <div class="pr-0 md:pr-2">
    <%= render(Users::CategoriesList.new(user: @user, categories: @categories, active_tab: @active_tab)) %>
    <%= render(Users::CategoriesList.new(user: @user,
                                         categories: @visibility_categories,
                                         active_tab: @active_tab,
                                         remove_top_margin: false,
                                         render_all_tab: false,
                                         highlighted: true)) if @user == @current_user %>
  </div>
  <%= render(Users::PostsList.new(user: @user, current_user: @current_user, posts: @posts, pagy: @pagy)) %>
</turbo-frame>
