/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./actiontext.scss";

//simple_form input for rich_text_area hight
trix-editor.form-control {
  height: auto;
}

.trix-button {
  background: #6b4d56 !important;
  border-color: #3d262d !important;
}

.trix-button-group {
  border-color: #3d262d !important;
}

.trix-button-group .trix-button:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.trix-button-group .trix-button:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
