<a href="<%= root_path %>" class="<%= current_page?(root_path) ? "bg-chestnut-900" : "hover:bg-beaver-700" %> text-white px-3 py-2 rounded-md  font-medium <%= @mobile ? 'text_base block' : 'text-sm' %>" aria-current="page">
  Overview
</a>

