<a href="<%= root_path %>" class="bg-chestnut-900 text-white px-3 py-2 rounded-md  font-medium <%= @mobile ? 'text_base block' : 'text-sm' %>" aria-current="page">
  Overview
</a>

<a href="#" class="text-gray-300 hover:bg-beaver-700 hover:text-white px-3 py-2 rounded-md font-medium <%= @mobile ? 'text_base block' : 'text-sm' %>">
  test
</a>

